
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Quicksort</h2>
        <p>Unsorted:<p>
        <p><%= @unsorted %></p>
        <p>Sorted:<p>
        <p><%= @sorted %></p>
      </div>
    </div>
  </body>
</html>
